#gdlr-core-column-65482 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-65482 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-65482 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-shape-divider-12132 svg path {
    fill: #ffffff;
}

#gdlr-core-shape-divider-12132 svg {
    width: 110%;
}

#gdlr-core-column-28019 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-28019 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-28019 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-45206 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-45206 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-45206 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-45206 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 70px !important;
    }
}

#gdlr-core-column-25616 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-25616 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-25616 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-80390 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-80390 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-80390 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-23626 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-23626 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-23626 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-23626 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 70px !important;
    }
}

#gdlr-core-button-id-80060 {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-transform: none;
}

#gdlr-core-button-id-80060:hover {
    color: #e31b23;
}

#gdlr-core-button-id-80060 i {
    color: #ffffff;
}

#gdlr-core-button-id-80060:hover i {
    color: #e31b23;
}

#gdlr-core-column-33707 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-33707 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-33707 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-90762 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-90762 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-90762 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-78307 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-78307 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-78307 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-78307 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 70px !important;
    }
}

#gdlr-core-button-id-88757 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-transform: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#gdlr-core-button-id-88757:hover {
    color: #e31b23;
}

#gdlr-core-button-id-88757 i {
    color: #ffffff;
}

#gdlr-core-button-id-88757:hover i {
    color: #e31b23;
}

#gdlr-core-column-596 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-596 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-596 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-26516 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-26516 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-26516 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-26516 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 50px !important;
    }
}

#gdlr-core-column-22339 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-22339 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-22339 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-22339 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 50px !important;
    }
}

#gdlr-core-column-9100 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-9100 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-9100 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-9100 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 50px !important;
    }
}

@media only screen and (max-width: 767px) {
    #gdlr-core-wrapper-1.gdlr-core-pbf-wrapper {
        padding-bottom: 100px !important;
    }
}

#gdlr-core-column-84359 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-84359 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-84359 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-84359 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 20px !important;
    }
}

#gdlr-core-column-32963 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-32963 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-32963 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-32963 .gdlr-core-pbf-column-content-margin {
        margin-top: 0px !important;
    }
}

#gdlr-core-column-67669 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-67669 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-67669 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-column-15902 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-15902 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-15902 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-product-98307 .gdlr-core-product-grid-3.gdlr-core-button-style-border .gdlr-core-product-add-to-cart {
    color: #0054a6;
    border-color: #0054a6;
}

#gdlr-core-product-98307 .gdlr-core-product-grid-3.gdlr-core-button-style-border .gdlr-core-product-add-to-cart:hover {
    background-color: #0054a6;
    color: #fff;
}

#gdlr-core-product-98307 .gdlr-core-move-up-with-shadow:hover {
    box-shadow: 0 15px 40px rgba(12, 12, 12, 0.09);
    -moz-box-shadow: 0 15px 40px rgba(12, 12, 12, 0.09);
    -webkit-box-shadow: 0 15px 40px rgba(12, 12, 12, 0.09);
}

@media only screen and (max-width: 767px) {
    #gdlr-core-wrapper-2.gdlr-core-pbf-wrapper {
        padding-bottom: 100px !important;
    }
}

#gdlr-core-column-53335 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-53335 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-53335 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-column-53335 .gdlr-core-pbf-column-content-margin {
        padding-bottom: 50px !important;
    }
}

#gdlr-core-column-38080 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-38080 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-38080 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

@media only screen and (max-width: 767px) {
    #gdlr-core-wrapper-3.gdlr-core-pbf-wrapper {
        padding-bottom: 50px !important;
    }
}

#gdlr-core-column-38370 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-38370 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-38370 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
    border-color: #ffffff !important;
}

#gdlr-core-button-id-28083 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #0054a6;
    padding: 0px 0px 0px 0px;
    text-transform: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#gdlr-core-button-id-28083:hover {
    color: #0054a6;
}

#gdlr-core-button-id-28083 i {
    color: #0054a6;
}

#gdlr-core-button-id-28083:hover i {
    color: #0054a6;
}

#gdlr-core-blog-23239 .gdlr-core-blog-grid.gdlr-core-blog-grid-with-frame:hover {
    border-color: #ffffff !important;
}

#gdlr-core-blog-23239 .gdlr-core-move-up-with-shadow:hover {
    box-shadow: 0 20px 40px rgba(36, 38, 53, 0.2);
    -moz-box-shadow: 0 20px 40px rgba(36, 38, 53, 0.2);
    -webkit-box-shadow: 0 20px 40px rgba(36, 38, 53, 0.2);
}
